.sub-content-block{
    height: 165px;
}

.text-block {
    background-color: white;
    font-size: 20px;
    border: 1px solid;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 5%;
    position: relative;
    overflow: hidden; /* Ensure arrows don't overflow */
    user-select: text;
}

.arrow {
    position: absolute;
    top: 0%;
    font-size: 70px;
    cursor: pointer; /* Optional: Add a cursor pointer to indicate interactivity */
    user-select: none;
}

.left-arrow {
    left: 15%; 
}

.right-arrow {
    right: 15%;
}

.arrowed-block {
    position: relative;
}